/* .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
}

.invisible {
    visibility: hidden;
}

.colorChange {
    background-color: red;
} */


* {
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior:auto;
}

body{
    background-color: grey;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 60px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

#innerContainer {
    justify-content: space-between;
}

#statement {
    display: inline-block;
}

.btns {
    text-align: center;
}

#diceBtn {
    display: inline-block;
    margin-bottom: 20px;
    background-color: green;
    box-shadow: 2px 5px 5px 2px black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

#diceBtn:hover {
    cursor: pointer;
}

#diceBtn small {
    position: relative;
    top: 11px;
    color: white;
}

#resetBtn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    background-color: blue;
    box-shadow: 2px 5px black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

#resetBtn:hover {
    cursor: pointer;
}

#resetBtn small {
    position: relative;
    top: 11px;
    color: white;
}

.dice {
    display: inline-block;
}

.dice img {
    width: 300px;
    height: 300px;
}

footer {
    text-align: center;
    margin: 0;
}